.projectsBlock {
    min-height: 100vh;
    background-color: #F36363;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media screen and (max-width: 755px) {
    .projects {
        justify-content: center;
    }
}
