.contactsBlock {
    background-color: #F36363;
    height: 300px;
}
.contactsContainer {
    flex-direction: column;
}
.form {
    border: 1px solid;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.input {
    width: 100%;
    background-color: #fff;
}
.textarea {
    width: 100%;
    background-color: #fff;
}
.button {
    width: 100px;
    height: 30px;
    background-color: #828282;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .form {
        width: 100%;
    }
}