@import "../../Common/Styles/sass/variable";
@import "../../Common/Styles/sass/mixins";

.skill {
  width: 250px;
  background-color: $backgroundColorTwo;
  margin: 40px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .iconContainer {
    margin-top: -50px;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    background-color: $backgroundColorThree;
    .icon {
      margin-top: 15px;
    }
  }

  .title {
    @include text($fontFamilyTwo, 500, 20, $textColor);
  }

  .description {
    @include text($fontFamilyOne, 500, 16, $textColor);
  }

}


