@import "../Common/Styles/sass/variable";

.skillsBlock {
  padding: 100px 0;
  background: $backgroundColorOne;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      @media screen and (max-width: 1000px) {
        justify-content: center;
      }
    }
  }
}




