@import "../Common/Styles/sass/variable";
@import "../Common/Styles/sass/mixins";

.mainBlock {
  height: 110vh;
  background: linear-gradient(45deg, rgba(250, 31, 85, 0.5) 0%, rgba(253, 115, 90, 0.5) 100%), url("../Assets/img/me.jpg");
  @media screen and (max-width: 1000px) {
    height: 100%;
  }

  .text {
    background: url("../Assets/img/points.svg");
    background-size: contain;
    padding: 10px;
    width: 520px;

    .hello,
    .profession {
      font-size: 25px;
    }

    .me {
      @include text($fontFamilyTwo, 400, 45px, $textColor);
      text-shadow: #fff 2px 1px;
    }
  }
}



