.mainBlock {
    height: 100vh;
    background-color: #ece6f5;
}
.text {
    width: 300px;
    background-color: #a0e7e7;
}
.photo {
    width: 300px;
    height: 400px;
    background-color: #a0e7e7;
}
