@import "../Common/Styles/sass/variable";
@import "../Common/Styles/sass/mixins";

.mainBlock {
  height: 110vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 9%, rgba(248,203,203,1) 80%, rgba(229,227,227,1) 96%);
  @media screen and (max-width: 1000px) {
    height: 100%;
  }

  .text {
    background-color: $primaryBrightColor;
    padding: 10px;
    width: 400px;

    .hello,
    .profession {
      font-size: 25px;
    }

    .me {
      @include text($fontFamilyTwo, 400, 45px, $textColor);
      text-shadow: #fff 2px 1px;
    }
  }

  .photo {
    width: 400px;
    height: 600px;
    background: url("../Assets/img/me.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}



