.mainBlock {
    height: 100vh;
    background-color: #F36363;
}
.text {
    background-color: #ff8c00;
    padding: 10px;
    width: 400px;
}
.me {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 45px;
    color: #000;
    text-shadow: #fff 2px 1px;
}
.hello,
.profession {
    font-size: 25px;
}
.photo {
    width: 400px;
    height: 600px;
    border: 1px solid;
}
