@import "../Styles/sass/variable";

.title {
  font-family: $fontFamilyTwo;
  font-size: 25px;
  margin: 0 0 20px 0;
  line-height: 1.5;
  position: relative;
  color: $textColor;
  text-align: center;

  .title h2 {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: $primaryBrightColor;
    width: 70px;
    height: 1px;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
