.title {
    margin: 0 0 20px 0;
    line-height: 1.5;
    position: relative;
}

.title h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    color: #000;
}

.title::before {
    content: "";
    position: absolute;
    background: #ff8c00;
    width: 70px;
    height: 1px;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
}
