@import "../Styles/sass/variable";
@import "../Styles/sass/mixins";


.title {
  margin: 0 0 50px;
  text-align: center;
  display: block;
  width: 100%;


  .header {
    @include text($fontFamilyOne, 400, 40px, $textColorOne);
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 50px;
    position: relative;


    span {
      font-size: 100px;
      font-weight: 700;
      left: 0;
      right: 0;
      position: absolute;
      text-align: center;
      top: -50px;
      z-index: 0;
      opacity: 0.05;
      letter-spacing: 15px;
    }

    &::before {
      content: "";
      position: absolute;
      background: $textColorOne;
      width: 70px;
      height: 1px;
      bottom: -25px;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}
