.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;

  a:link {
    color: #828282;
    text-decoration: none
  }

  a:visited {
    color: #828282;
    text-decoration: none
  }

  a:hover {
    color: #F36363;
    text-decoration: none
  }
}
