$textColor: #5b5963;
$textColorTwo: #fff;
$primaryBrightColor: #f5c082;
$backgroundColorOne: #f5f5f5;
$backgroundColorTwo: #fff;
$backgroundColorThree: #fd735a ;
$fontFamilyOne:'Work Sans', sans-serif;
$fontFamilyTwo:"Playfair Display", serif;