$textColor: #000;
$primaryBrightColor: #ff8c00;
$backgroundColorOne: #F36363;
$backgroundColorTwo: #fff;
$backgroundColorThree: #828282;
$fontFamilyOne:'Work Sans', sans-serif;
$fontFamilyTwo:'Playfair Display', serif;