@import "../Common/Styles/sass/variable";
@import "../Common/Styles/sass/mixins";

.footerBlock {
  height: 100px;
  background-color: #5b5963;

  .footerContainer {
    flex-direction: column;

    .name {
      @include text($fontFamilyOne, 200, 15px, $textColorTwo);

      p {
        margin: 0px;
      }
    }

    .link {
      width: 210px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .iconContainer {
        height: 30px;
        width: 30px;
        border-radius: 20px;
        border: 1px solid #fff;
        a {
          color: $backgroundColorTwo;
          text-decoration: none;
          &:hover {
            color: $backgroundColorTwo;
            text-decoration: none
          }
          &:visited {
            color: $backgroundColorTwo;
            text-decoration: none
          }
        }
        .icon {
          margin-top: 6px;
          margin-left: 6px;
        }

      }
    }

    .text {
      padding: 0px;
      @include text($fontFamilyOne, 400, 15px, $textColorTwo);

      p {
        margin: 0px;
      }
    }
  }
}




