@import "../Common/Styles/sass/variable";
@import "../Common/Styles/sass/mixins";

.distantWorkBlock {
  padding: 100px 0;
  background: rgb(248,203,203);
  background: linear-gradient(180deg, rgba(248,203,203,1) 4%, rgba(229,227,227,1) 30%);

  .distantWorkContainer {
    flex-direction: column;

    .button {
      margin: 50px 0;
      width: 100px;
      height: 30px;
      background-color: $backgroundColorTwo;
      @include text($fontFamilyOne, 400, 16px, #F36363);
      text-align: center;
    }
  }
}

